<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- my-style -->
  <link rel="stylesheet" href="css/style.css">

  <!-- VUEJS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <h1>Genera le tue Email...</h1>

      <div class="input">
        <label for="gEmail">Scegli quante E-mail vuoi generare!!</label>
        <input type="number" name="gEmail" id="gEmail" v-model="inputNumber" @keyup.enter="genRndEmail">
        
        <button @click="genRndEmail">Genera</button>
      </div>

      

      <h2>Ecco a te le tue Email randomiche:</h2>
      <ul v-if="arrayMail.length == numberEmail">
        <li v-for="email in arrayMail">{{ email }}</li>
      </ul>
    </div>
    
  </div>

  <!-- Axios CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- my-script -->
  <script src="js/script.js"></script>
</body>
</html>